*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

.wrapper{
    color: rgb(172, 78, 78);
    height: 100vh;
    margin-top: 50px;
}

.container{
    background-color: rgb(255, 250, 246);
    border: 5px rgb(172, 78, 78) solid;
    width: 80%;
    padding-top: 20px;
    border-radius: 20px;
    margin: 0 auto;
}
h1 , p , .btn{
    margin: 50px;
}

p{
    border-bottom: rgb(172, 78, 78) 1px solid;
    padding-bottom: 50px;
}

.btn{
    background-color: rgb(172, 78, 78);
    color:  rgb(248, 236, 222);
    border: 1px solid  rgb(248, 236, 222);
    border-radius: 15px;
    padding: 10px;
}